
/*Astuce Controle F pour rechercher les styles*/



body {
    background-color:white;
    width: 99%;
}
h1{
    color:black;
    font-size: 80px;
    font-family: poppins;
}
h2{
    background-color: white;
    color:#df5e88;
    font-size: 65px;
    font-family: poppins;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 50px;

}
h3{
    background-color: white;
    color:#8fcfd1;
    font-size: 50px;
    font-family: poppins;
    margin-left: 50px;
}
h4{
    background-color: white;
    color:#8fcfd1;
    font-size: 38px;
    font-family: poppins;
    margin-left: 50px;
}
h5{
    color:#f6ab6c;
    font-size: 40px;
    font-family: poppins;
    margin-left: 50px;
}

p{
    font-size: 30px;
    font-family: poppins;
    margin-left: 56px;
}







/*Le menu*/

.menu-main {
    background-color:#8fcfd1 ;
    font-size: 25px;
    font-family: poppins;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 30px;
    position: fixed;
    width:100%;
    
    
}
    
.menu-main li {
    
    text-decoration: none;
    position: relative;
    display: inline-block; 
    padding-left: 11px;
    margin-left: 90px;
    padding-top: 25px;
    z-index: 0;
    
    
    
}



.menu-main a{
    
    text-decoration: none;
    color:black;

}

.menu-main a:hover {
    color: #f6efa6;
}

a:active {
    color:#df5e88;
}


.content-logo{
    
    width: 100%;
    
}




.logo{
    width: 5%;
    height: 5%;
    z-index: 2;
    float: left;
    padding-top: 5px;
}

.logo2{
    width: 5%;
    height: 45%;
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}





/*main*/

/*Intro*/

.flex-container{
    display:flex;
    align-self: center;
}

.grid-container0{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "rachel image-intro";
}

.rachel { 
    grid-area: rachel; 

    background-color:white;
    margin-top: 180px;
    margin-bottom: 150px;
    margin-left: 40px;
    margin-right: 10px;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-right: 10px;
    padding-left: 20px;
}

.rachel{

background-color:white;
    margin-top: 180px;
    margin-bottom: 150px;
    margin-left: 40px;
    margin-right: 10px;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-right: 10px;
    padding-left: 20px;
}





.image-intro { 
    grid-area: image-intro; 
    width: 920px;
    height: 950px;
    margin-top: 110px;
}







.textrach{
    margin-left: 3px;
    font-family: poppins;
    font-size: 30px;
}




/*Les Skills*/


.flex-container2{
    display: flex;
    
}

.ligne-skill{
    border-bottom : 20px solid #df5e88;
    width : 1700px; 
    margin-left: 80px;
    margin-bottom: 25px;

    
}







.grid-container {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.2fr 0.2fr;
    gap: 1px 1px;
    grid-template-areas: "infographie infographie imageclavier imageclavier" "logiciel logiciel2 imageclavier imageclavier" "informatique informatique imagenet imagenet" "informatique informatique imagenet imagenet";
}

.infographie { 
    grid-area: infographie; 
    background-color:white;
    
}

.logiciel {
    grid-area: logiciel; 
    background-color:white;
}

.logiciel2 { 
    grid-area: logiciel2; 
    background-color: white;
    padding-top: 110px;
}

.informatique { 
    grid-area: informatique; 
    background-color:white;
}

.imageclavier { 
    grid-area: imageclavier; 
    
    width: 920px;
}

.imagenet { 
    grid-area: imagenet; 
    width: 920px;

}







/*Parcours*/


.ligne-parcours{
    border-bottom : 20px solid #df5e88;
    width : 1700px; 
    margin-left: 100px;
    margin-bottom: 25px;
}




.parcours-text{
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 60px;
}







/*Galerie*/




.ligne-galerie{
    border-bottom : 20px solid #df5e88;
    width : 1700px; 
    margin-left: 80px;
    margin-bottom: 25px;
}


/*Marguerite*/

.marguerite-text{
    background-color:#f6efa6 ;
    padding-top: 15px;
    border-radius: 30px;


}


.marguerite{
    width: 20%;
    height: 20%;
    margin-left: 50px;
}

.margueritebalais{
    width: 25%;
    height: 25%;
}

.margueritebd{
    width: 22%;
    height: 22%;
    margin-right: 7px;
    margin-left: 7px;
}

.margueritecovid19{
    width: 25%;
    height: 25%;
    margin-top: 30px;
}


.margueritecontent{
    width: 20%;
    height: 20%;
    margin-right: 75px;
    margin-left: 25px;
}

.margueritetriste{
    width: 20%;
    height: 20%;
    margin-right: 25px;
    margin-left: 25px;
}


.margueritefache{
    width: 20%;
    height: 20%;
    margin-right: 25px;
    margin-left: 25px;
}

.margueriteclindoeuil{
    width: 20%;
    height: 20%;
    margin-right: 25px;
    margin-left: 25px;
}





/*Divers galerie*/




.divers-text{
    background-color:#8fcfd1 ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;

}


.imageaqua{
    width: 20%;
    height: 20%;
    margin-left: 50px;
}



.imagepicto{
    width: 24%;
    height: 24%;
    margin-left: 10px;
    margin-right: 10px;
}

.imageFfleur{
    width: 16%;
    height: 16%;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
}



.imagerobot{
    width: 20%;
    height: 20%;
}

.imageh{
    width: 20%;
    height: 20%;
    margin-left: 50px;

}

.imagecoeur{
    width: 20%;
    height: 20%;
}

.imagesortie{
    width: 20%;
    height: 20%
}

.imagecalendrier{
    width: 20%;
    height: 20%;
}

.image3dbureau{
    margin-left: 50px;
    margin-top: 10px;
    
}


.imagechoucroute{
    width: 22%;
    height: 22%;
}

.imagemarimont{
    width: 17%;
    height: 17%;
}


.imagemonstre{
    width: 15%;
    height: 15%;
}












/*partie contact avec formulaire*/

.flex-container3{
    display:flex;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
}

.ligne-contact{
    border-bottom : 20px solid #df5e88;
    width : 1480px; 
    margin-left: 80px;
    margin-bottom: 25px;

}



.formulaire{
    background-color:#8fcfd1;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 250px;
    margin-right: 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    border-radius: 30px;
    
}

input [type=text] {
    width: 20px;
}



input, textarea, select, button {
    width : 520px;
    height: 70px;
    margin-top: 40px;
    border-radius: 10px;
    border-color:#df5e88 ;
    border-width:3px;
    background-color:#f6efa6 ;
    font-family: poppins;


    -webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
       -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
            box-sizing: border-box;
}



textarea{
    height: 270px;
}







.infoContact{
    background-color:white;
    margin-top: 130px;
    
}


.inforach{
    margin-top: 50px;
    margin-left: 70px;
    font-family: poppins;
    font-size: 36px;
}



.social-linkedin{
    
    margin-top: 20px;
    
}


.fa-linkedin-in{
    width: 70px;
    height: 50px;
    margin-top: 40px;
    margin-left: 80px;
    font-size: 40px;
    color:#df5e88;
}



.fa-instagram{
    width: 70px;
    height: 50px;
    margin-top: 40px;
    margin-left: 60px;
    font-size: 40px;
    color: #df5e88;
}


/*Footer*/


footer{
    background-color: #f6efa6;
    font-family: poppins;
    font-size: 25px;
}

footer li {
    
    text-decoration: none;
    position: relative;
    display: inline-block; 
    padding-left: 11px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: 90px;
}


footer a{
    
    text-decoration: none;
    color:black;

}

footer a:hover {
    color: #8fcfd1;


}






